/*   Color:  #D5E1EFFF   #FFFFFF  */


@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D5E1EFFF;
    font-family: 'Lato';
   
}
.card{
    background-color: #FFFFFF;
    width: 300px;
    height: 450px;
    border-radius: 15px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 15vh;
}
.card-img{
    margin-top: 20px;
    max-width: 250px;
    max-height: 250px ;
    border-radius: 15px;
}
h3, p{
    padding: 0 5px 0 5px;
}
.attribution{
    display: none;
}